<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
  </style>
  <script>
    function detectMobile() {
      const resultDiv = document.querySelector("#result");
      console.log(resultDiv);
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        resultDiv.innerText = "mobile";
        resultDiv.setAttribute('style', 'font-size: 10rem; font-weight: bolder; color: red');
      } else {
        resultDiv.innerText = "web";
        resultDiv.setAttribute('style', 'font-size: 10rem; font-weight: bolder; color: blue');
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      detectMobile();
    });

  </script>
</head>
<body>
<div id="result">

</div>
</body>
</html>
